/* WHATSAPP BUTTON */
.whatsapp-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.whatsapp-container__image {
    width: 60px;
    height: 60px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.432));
}





.form__button {

    height: 9%;
    width: 27%;

    margin: 10% auto 0;

    border-radius: 10px;
    background-color: #800000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.808);

    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente (opcional) */
    text-align: center; /* Centra el texto dentro del contenedor */

}

.form__button-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Prata", serif;
    font-size: 0.9vw;


}

