
/* TYPOGRAPHY STYLES */

/* TODO INTEGRAR VARIABLES DE FUENTES Y FONT SIZES EN EL CSS*/

:root {
    /* Font Families */
    --font-primary: 'Prata', serif;
    --font-secondary: 'Bai Jamjuree', sans-serif;

    /* Font Sizes */
    --text-xxs: 0.6rem;
    --text-xs: 0.8rem;
    --text-sm: 1rem;
    --text-base: 1.2rem;
    --text-lg: 1.5rem;
    --text-xl: 2rem;
    --text-2xl: 2.5rem;
}