@import url(../modules/home/header-modules/header-content.css);
@import url(../modules/global/navbar.css);
@import url(../modules/global/standar-button.css);
@import url(../modules/home/services-modules/services-description.css);
@import url(../modules/home/services-modules/services-gallery-images.css);
@import url(../modules/home/services-modules/services-title.css);


/* TYPOGRAPHY STYLES */

/* TODO INTEGRAR VARIABLES DE FUENTES Y FONT SIZES EN EL CSS*/

:root {
    /* Font Families */
    --font-primary: 'Prata', serif;
    --font-secondary: 'Bai Jamjuree', sans-serif;

    /* Font Sizes */
    --text-xs: 0.8rem;
    --text-sm: 1rem;
    --text-base: 1.2rem;
    --text-lg: 1.4rem;
    --text-xl: 2rem;
    --text-2xl: 2.4rem;
}