/* Moviles S 320 x 374px */
@media screen and (max-width: 374px) {
  .form {
    align-items: flex-start;
  }
  .form__container {
    width: 90%;
    height: 69%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;
  }
  .form__side-items-container {
    width: 100%;
    margin-top: 7%;
    align-items: center;
    gap: 1%;
  }
  .form__title {
    width: 100%;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .form__title h1 {
    font-size: 1.1rem;
    margin-bottom: 0.1rem;
  }
  .form__title p {
    font-size: 0.7rem;
  }
  .form__contact-grid {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
  }
  .form__item {
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
  }
  .form__item img {
    width: 1.5rem;
  }
  .form__item p {
    font-size: 0.7rem;
    text-align: center;
  }
  .form__form-container {
    width: 90%;
    gap: 1%;
    padding: 0.5rem;
  }
  .form__group-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.3rem;
  }
  .form__form-container .form__group {
    width: 100%;
    gap: 0.3rem;
  }
  .form__group input,
  .form__group-container textarea {
    width: 100%;
    padding: 0.3rem;
    font-size: 0.8rem;
    box-sizing: border-box;
    resize: none;
  }
  .form__group-container textarea {
    height: 2.5rem;
  }
  .form__group:last-child {
    display: flex;
    justify-content: center;
  }
  .standar__button-light-shadow {
    transform: scale(0.9);
    margin: 0.3rem 0;
  }
  .contact__content {
    position: absolute;
    bottom: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 99%;
    gap: 0.2rem;
    margin-bottom: 1.3rem;
  }
  .contact__content h1 {
    font-size: 3.9vw;
  }
  .contact__content h2 {
    font-size: 2.4vw;
  }
  .footer__atention-text h1 {
    font-size: 3.4vw;
  }
  .footer__atention-text h2 {
    font-size: 2.4vw;
  }
  .copyleft__content h1 {
    color: white;
    text-decoration: none;
    font-size: 1.7vw;
  }
  .copyleft__content a {
    color: white;
    text-decoration: none;
    font-size: 1.7vw;
  }
  .form__form-container > h1 {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
}



/* Moviles M 375 x 424px */
@media screen and (min-width: 375px) and (max-width: 424px)
{  .form {
  align-items: flex-start;
}
.form__container {
  width: 90%;
  height: 67%;
  flex-direction: column;
  justify-content: flex-start;
  margin-top:3%;
  gap: 0.5em;
}
.form__side-items-container {
  width: 100%;
  align-items: center;
  gap: 1%;
}
.form__title {
  width: 100%;
  margin-bottom: 0.5rem;
  text-align: center;
}
.form__title h1 {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
}
.form__title p {
  font-size: 0.8rem;
}
.form__contact-grid {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}
.form__item {
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
.form__item img {
  width: 1.7rem;
}
.form__item p {
  font-size: 0.8rem;
  text-align: center;
}
.form__form-container {
  width: 90%;
  gap: 1%;
  padding: 0.5rem;
}
.form__group-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.3rem;
}
.form__form-container .form__group {
  width: 100%;
  gap: 0.3rem;
}
.form__group input,
.form__group-container textarea {
  width: 100%;
  padding: 0.3rem;
  font-size: 1rem;
  box-sizing: border-box;
  resize: none;
}
.form__group-container textarea {
  height: 2.7rem;
}
.form__group:last-child {
  display: flex;
  justify-content: center;
}
.standar__button-light-shadow {
  transform: scale(0.9);
  margin: 0.3rem 0;
}
.contact__content {
  position: absolute;
  bottom: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 99%;
  gap: 0.2rem;
  margin-bottom: 1.3rem;
}
.contact__content h1 {
  font-size: 3.9vw;
}
.contact__content h2 {
  font-size: 2.4vw;
}
.footer__atention-text h1 {
  font-size: 3.4vw;
}
.footer__atention-text h2 {
  font-size: 2.4vw;
}
.copyleft__content h1 {
  color: white;
  text-decoration: none;
  font-size: 1.7vw;
}
.copyleft__content a {
  color: white;
  text-decoration: none;
  font-size: 1.7vw;
}
.form__form-container > h1 {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}}


/* Moviles L 425 x 767px */
@media screen and (min-width: 425px) and (max-width: 767px) {
  .form {
    align-items: flex-start;
  }
  .form__container {
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2%;
  }
  .form__side-items-container {
    width: 100%;
    align-items: center;
    gap: 1%;
    margin-top:3%;
  }
  .form__title {
    width: 100%;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .form__title h1 {
    font-size: 1rem;
    margin-bottom: 0.1rem;
  }
  .form__title p {
    font-size: 0.8rem;
  }
  .form__contact-grid {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
  }
  .form__item {
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
  }
  .form__item img {
    width: 1.7rem;
  }
  .form__item p {
    font-size: 0.8rem;
    text-align: center;
  }
  .form__form-container {
    width: 90%;
    gap: 1%;
    padding: 0.5rem;
  }
  .form__group-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.3rem;
  }
  .form__form-container .form__group {
    width: 100%;
    gap: 0.3rem;
  }
  .form__group input,
  .form__group-container textarea {
    width: 100%;
    padding: 0.3rem;
    font-size: 0.7rem;
    box-sizing: border-box;
    resize: none;
  }
  .form__group-container textarea {
    height: 2.7rem;
  }
  .form__group:last-child {
    display: flex;
    justify-content: center;
  }
  .standar__button-light-shadow {
    transform: scale(0.9);
    margin: 0.3rem 0;
  }
  .contact__content {
    position: absolute;
    bottom: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 99%;
    gap: 0.2rem;
    margin-bottom: 1.3rem;
  }
  .contact__content h1 {
    font-size: 4vw;
  }
  .contact__content h2 {
    font-size: 2.5vw;
  }
  .footer__atention-text h1 {
    font-size: 3.5vw;
  }
  .footer__atention-text h2 {
    font-size: 2.5vw;
  }
  .copyleft__content h1 {
    color: white;
    text-decoration: none;
    font-size: 1.8vw;
  }
  .copyleft__content a {
    color: white;
    text-decoration: none;
    font-size: 1.8vw;
  }
  .form__form-container > h1 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
}

/* Tablets 768 x 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .form__item {
    gap: 1rem;
    margin-top: 4%;
}
.form__side-items-container{
  width: 50%;
}
.form__title h1{
  font-size: 4rem;
}
.form__title p{
  font-size:1rem;
}
.form__item img{
  width: 2.5rem;
}
.form__item p{
 font-size:1.1rem;
}
.form__item{
  justify-content: start;
}
.form__form-container{
  height: 60%;
  width:50%
}
.contact__content{
  width:95%;
}
.contact__content h1{
  font-size:2rem;
}
.contact__content h2{
    font-size: 0.8rem;
}
.footer__atention-text h1 {
  font-size: 1.3rem;
}
.footer__atention-text h2 {
  font-size: 0.8rem;
}
.footer__atention-container img{
  width: 1.7rem;
}
.copyleft__content a, .copyleft__content h1{
  font-size:0.6rem;
}
}