.header__container {
    height: 100%;
    width: 30%;
    background-color: transparent;
}

.header__content {
    height: 90%;
}

.form-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form__fields-container {
    height: 60%;
    width: 70%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Escala el video para que cubra todo el fondo */
    z-index: -1; /* Coloca el video detrás del contenido */
    filter: brightness(0.55);  /*Reduce el brillo al 55%*/
}
