
.form-container {
    width: 30%;
    margin: 0 auto; /* Centrar en la página */
    padding: 3% 4% ;
    background-color: black;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;

}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

input, textarea {
    width: 100%;
    padding: 2%;
    margin-bottom: 4%;
    border: 1px solid #ccc;

}

h2 {

    font-size: 2rem;

}
