@import url(../../../base/colors.css);


.experience__title-container {


    height: 18%;
    width: 100%;
    display: flex;

    justify-content: start;
    align-items: center;

}


.line {

    background-color: var(--color-secondary);
    height: 2%;
    width: 100%;
}

.line__start {

    width: 90%;
}

.line__end {
    margin-left: 1%;

}

.experience__title {

    font-size: 1.3vw;

}



.line__start-container {
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
}

.experience__title {
    flex: 0 1 auto;  /* Permite que el ancho se ajuste automáticamente al contenido */
    width: auto;  /* Alternativa para garantizar que crezca según el contenido */
    min-width: min-content; /* Evita que el título se divida en dos líneas */
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap; /* Evita saltos de línea */
}

.line__container {
    flex: 1; /* Ocupa el espacio restante */
    height: 100%;
    display: flex;
    align-items: center;
}