
/* HOME PAGE RESPONSIVE STYLES */

@import url(../theme/typography.css);

/* Desktops grandes*/
@media (min-width: 1921px){

}

/* Desktops estandar */
@media (min-width: 1441px) and (max-width: 1920px){

}

/* Laptops pequeñas */
@media (min-width: 1280px) and (max-width: 1440px) {
    .m-central-menu-list .m-menu-item a {
        font-size: var(--text-xs);
    }

    .m-mobile-number {
        padding: 0.8rem;
    }

    .m-mobile-contact a {
        font-size: var(--text-xs);
    }
}

/* Tabletas grandes*/
@media (min-width: 1024px) and (max-width: 1279px) {
    .m-central-menu-list .m-menu-item a {
        font-size: var(--text-xs);
    }
}

/* Tabletas pequeñas */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* Celular mediano */
@media (min-width: 480px) and (max-width: 767px){

}

/* Celular pequeño*/
@media (max-width: 479px) {

}