/* Contenedor principal del contenido */
.container__content-about-us {
    display: flex;
    flex-direction: column;
    position: absolute; /* Permite posicionamiento libre */
    z-index: 2; /* Asegura que esté sobre la capa oscura */
    width: 45vw; /* Ancho ajustado al diseño */
    height: 60%; /* Ajuste de altura */
    text-align: center; /* Justifica el texto */
    background-color: white; 
}

/*Container titulo*/
.container__title-about-us{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

/* Título */
.title__about-us {
    font-family: 'Prata', serif;
    font-size: clamp(0.5rem,2vw,2rem);;
    text-align: center;
    width: 100%;
}

/* Descripción */
.container__description-about-us {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.1vw;
    line-height: 1.7;
    text-align:left;
    height: 70%;
    width: 95% ;
    padding-left: 6%;
}

.space__descripcion-about-us{
    padding: 0.5%;
}