/* EXPERIENCE CONTAINER LAYOUT STYLES */

.experience{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: white;
    overflow: hidden;
}

.experience__content {

    height: 100%;
    width: 60%;
    margin: auto;
    background-color: transparent;


}


.experience__title {


    height: 18%;
    width: 100%;
    display: flex;

    justify-content: start;
    align-items: center;

}

.line__start-container {

    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;

}   


.title{
    background-color: transparent;
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;



}

.line__container {

    background-color: transparent;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;

}


.line {

    background-color: #A9910B;
    height: 2%;
    width: 100%;
}

.line__start {

    width: 90%;
}

.experience__cards {


    height: 82%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: transparent;
    

}

.item {


    background-color: transparent;
    width: 31%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    

}

.card__title-description{

    background-color: transparent;
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
   
    

    


}

.image__container{

    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items:start;
    height: 60%;
    width: 100%;

}



h2{
    font-size: 1.3vw;

}

h3   {
    font-size: 1.1vw;
}

p {

    font-size: 1vw;
    text-align: justify;

}

.imagen-card {

    height: 95%;
    width: 100%;

    object-fit: cover;
    object-position: center;

}

.image2{

    align-items: end;
}

.sub__title{

    height: 30%;
    background-color: transparent;

}

.parraf{

    height: 70%;
    background-color: transparent;
}