# node modules
node_modules/

# logs
logs
*.log
npm-debug.log*

# build outputs
dist/
build/

# sistema operativo
.DS_Store
Thumbs.db

# entorno local
.env
.env.local
.env.*.local

# editorconfig y settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# coverage (de tests)
coverage/

# lockfiles si usás solo uno
package-lock.json
# o
yarn.lock
# o
pnpm-lock.yaml
