
/* ABOUT US CONTAINER LAYOUT STYLES */

.about {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido hacia la derecha */
    align-items: center; /* Centra el contenido verticalmente */
    background-image:  url('../../../assets/images/us-view.webp'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    background-position:center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 100vw;
    height: 100%;
    position: relative; /* Para usar ::before */
}

.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-black-30); /* Oscurece el fondo */
    z-index: 1; /* Capa detrás del contenido */
}
