
/* HEADER CONTAINER LAYOUT STYLES */

.header {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/images/header-image-3.jpg");
    background-size: cover;
}


