/*

    HEADER LAYOUT STYLES

*/



.header {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header__video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Escala el video para que cubra todo el fondo */
    z-index: -1; /* Coloca el video detrás del contenido */
    filter: brightness(0.55);  /*Reduce el brillo al 55%*/
}

.header__image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Escala el video para que cubra todo el fondo */
    z-index: -1; /* Coloca el video detrás del contenido */
    filter: brightness(0.55);  /*Reduce el brillo al 55%*/
}

