/*

    SECTIONS LAYOUT STYLES (CHANGES IN THE FUTURE)

*/

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact__container {
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.footer__container {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

.copyleft__container {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: peachpuff;
}