@import url(../../base/colors.css);

/* SERVICES CONTAINER LAYOUT STYLES */

.services{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: var(--color-bg-light);
}

/*Contenedor PADRE*/
.container-padre{
    background-color: var(--color-bg-light);
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}






