

.navbar {

    height: 10vh;
    width: 100vw;

    background-color: black;

}

.main__container{


    height: 90%;
    width: 100%;
    display: flex;
    


    background-color: transparent;


}

.form__container {
    
    height: 80%;
    width: 40%;
    margin: auto;
    
    
    
}

.form__title{

    text-align: center;
    height: 10%;
    font-size: 2vw;
}




.form {

    height: 90%;
    display: flex;  
    flex-direction: column;
    font-size: 1.3vw;
    


}

label, input, textarea, button {
    width: 70%;
    margin: 0 auto; 
}

label {
    height: 5%; 
    margin: 5% auto 0; 
}

input {
    height: 5%; 
    min-height: 4%; 
    font-size: 0.8vw; 
}


textarea {
    height: 20%; 
    max-height: 30%; 
    min-height: 20%; 
    max-width: 70%; 
    min-width: 70%; 
    font-size: 0.8vw;
}


button {
    height: 7%; 
    width: 15%; 
    font-size: 1vw;
    margin: 10% auto 0; 
}
