
/* NAVBAR CONTAINER LAYOUT STYLES */


/* Agregamos un div contenedor para el navbar */
.navbar-wrapper {
    position: relative;
    width: 100%;
    height: 30vh; /* Mantiene el espacio original */
}

/* Estilos actualizados para el navbar */
.navbar {
    position: fixed; /* Cambiamos a fixed */
    top: 0;
    left: 0;
    z-index: 1000; /* Aumentamos el z-index para asegurar que esté por encima */
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* Aseguramos que sea transparente */
    transition: all 0.2s ease-out; /* Transición suave para cambios */
}

/* Clase para cuando el navbar está scrolleado */
.navbar.scrolled {
    background-color: black; /* O el color que prefieras */
    height: 12vh; /* Altura reducida cuando está scrolleado */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}


/*CENTRAL MENU STYLES */

.navbar__central-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 60%;
}

.navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
    height: 100%;
    width: 100%;
}

.navbar__menu-item {
    width: 10%;
}

.navbar__menu-item a {
    display: flex;
    width: 100%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.253);
}

.navbar__menu-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar__logo-container {
    height: 100%;
}

.navbar__logo-image {
    width: auto;
    height: 100%;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.432));
}

.navbar__menu-item a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: "Prata", serif;
    font-weight: bold;
    display: inline;
}


/* MOBILE NUMBER STYLES */

.navbar__mobile-number-container {
    width: 20%;
}

.navbar__mobile-number-link {
    text-decoration: none;
    font-family: "Prata", serif;
}

.navbar__mobile-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 10px;
    padding: 0.8rem;
    gap: 0.5rem;
}

.navbar__mobile-number-icon {
    width: 1.5;
    height: 1.5rem;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.432));
}

.navbar__mobile-number-text {
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.253);
}


/* SOCIAL MENU STYLES */

.navbar__social-media-container {
    width: 20%;
}

.navbar__social-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    color: white;
}

.navbar__social-menu-item {
    list-style: none;
}

.navbar__social-menu-icon {
    width: 1.5rem;
    height: 1.5rem;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.432));
}