
/* STANDAR BUTTON */

.standar__button {
    border-radius: 10px;
    background-color: #800000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.808);
}

.standar__button-link {
    text-decoration: none;
    color: white;
    font-family: "Prata", serif;
    font-weight: bold;
    font-size: 0.8rem;
}

.standar__button-text {
    padding: 1rem 2rem;
}