
/* WHATSAPP BUTTON */

.whatsapp-container {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 100;
}

.whatsapp-container__image {
    width: 4rem;
    height: 4rem;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.432));
}