
/* SERVICES GALLERY STYLES */

.gallery-container {
    display: flex; /*Maquetar con flex*/
    gap: 0.5vw; /*Espacio entre*/
    width: 75%; /*ancho*/
    height: 65%; /*alto clamp(10vh, 38vw, 100%)*/
}

/* container I N D I V I D I A L(GALERIA)*/

.gallery-item {
    width: 33%;
    height: 100%;
    transition: transform 0.3s ease; /*Transicion para hover*/
}

/*titulo item de galeria*/

.gallery-title {
    font-family: 'Prata', serif; /*Tipo de letra*/
    font-size: 1.3vw;
    text-align: center;
    height: 5%;
    width: 100%;
}

/* Imágenes dentro de cada item */

.gallery-image {
    width: 100%; /*ancho proporcional*/
    height: 90%; /* Altura de imagen proporcional */
    border-radius: 0.125rem;
    object-fit: cover;
} 