
/* SERVICES DESCRIPTION STYLES */

.section__description {
    font-family: var(--font-secondary); /*Tipo de letra*/
    font-size: var(--text-lg);
    width: 70%; /*Ancho del parrafo*/
    height: 25%;
    line-height: 1.7; /*Espacio entre columnas*/
    text-align: center; /*Centrar texto*/
    padding-top: 1.5%;
}