.section__description {
    font-family: 'Bai Jamjuree', sans-serif; /*Tipo de letra*/
    font-size: 1.1vw;
    width: 70%; /*Ancho del parrafo*/
    height: 25%;
    line-height: 1.7; /*Espacio entre columnas*/
    text-align: center; /*Centrar texto*/
    padding-top: 1.5%;
}