.image-container{
    display: flex;
    height: 100%;
    width: 50vw;
    align-items: center;
    justify-content: center;
}

.image{
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    background-position:center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100%;
    width: 50vw;
    position: relative;
    z-index: 1;
}

.circle {
    width: 33vw;   /* Tamaño del círculo */
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle, rgba(150, 0, 0, 1) 20%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 50%;  /* Hace que sea un círculo */
    position: absolute; /* Para posicionarlo dentro de .image-container */
    z-index: 1;
    transform: translate(2rem, -5.2rem); /* 50px a la derecha, 30px arriba */
}