
@import url(../../../base/colors.css);

.header-line{
    width: 6px; /* Longitud de la línea */
    height: 7.8rem; /* Grosor de la línea */
    background-color: var(--color-bg-dark); /* Color de la línea */
    border: none; /* Elimina el borde predeterminado de <hr> */
}

.line-rotate-right{
    transform: rotate(45deg);
    position: relative;
    bottom: 1rem;
}

.line-rotate-left{
    transform: rotate(-45deg);
    position: relative;
    bottom: 1rem;
}

.line-container{
    display: flex;
    height: 30%;
    width: 30vw;
    gap: 9.5%;
    justify-content: center;
}