/* 

    MOBILE NUMBER STYLES 

*/

.navbar__mobile-number-container {
    width: 20%;
}

.navbar__mobile-number-link {
    text-decoration: none;
    font-family: "Prata", serif;
}

.navbar__mobile-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 10px;
    padding: 0.8rem;
    gap: 0.5rem;
}

.navbar__mobile-number-icon {
    width: 1.5;
    height: 1.5rem;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.432));
}

.navbar__mobile-number-text {
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.253);
}