/*

    SOCIAL MENU STYLES

*/

.navbar__social-media-container {
    width: 20%;
}

.navbar__social-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    color: white;
}

.navbar__social-menu-item {
    list-style: none;
}

.navbar__social-menu-icon {
    width: 1.5rem;
    height: 1.5rem;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.432));
}